@inherits InputBase<TKey>
@typeparam TKey

<div class="field-input">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-control-label" for="@($"label-{Id}")">@Label</label>
    }
    <select class="form-control @CssClass" id="@Id" @bind="@CurrentValue">
        <i class="oi oi-arrow-left" />
        <option value="0"></option>
        @foreach (var item in Items)
        {
            <option value="@item.Key">@item.Value</option>
        }
    </select>
    <div class="form-control-validation">
        <ValidationMessage For="@ValidationFor" />
    </div>
</div>

<style>
    .field-input {
        padding: 0.3rem !important;
        margin: 0rem !important;
    }
</style>
