@using Jared.Shared.Dtos.TaskHistoryDtos;
@if (TaskHistoryDtos is null)
{
    return;
}

 <div>
    <table class="table">
        <thead style="position: sticky; top:0;">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    User id
                </th>
                <th>
                    Property
                </th>
                <th>
                    Old value
                </th>
                <th>
                    New value
                </th>
                <th>
                    Changed at
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var history in TaskHistoryDtos)
            {
                <tr>
                    <td>
                        @history.Id
                    </td>
                    <td>
                        @history.UserId
                    </td>
                    <td>
                        @history.Property
                    </td>
                    <td>
                        @history.OldValue
                    </td>
                    <td>
                        @history.NewValue
                    </td>
                    <td>
                        @history.CreatedAt
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
