@using Jared.Domain.Enums;
@using Jared.Presentation.Components.Basic
@inject IMediator Mediator

<div class="blazor-modal">
    <div class="blazor-modal-content-medium">
        <div class="blazor-modal-header">
            <h4 class="blazor-modal-title">&nbsp;&nbsp;@Title</h4>
            <button class="btn btn-close" @onclick="cancel" />
        </div>
        <EditForm Model="@Dto">
            <div class="blazor-modal-body-2">
                <div class="right-border">
                    <InputTextField
                        @bind-Value="@Dto.Title"
                        Id="title"
                        Label="Title"
                        ValidationFor="(() => Dto.Title)" />
                    <InputTextAreaField
                        @bind-Value="@Dto.Description"
                        Id="description"
                        Label="Description"
                        ValidationFor="(() => Dto.Description)" />
                </div>
                <div>
                    <InputSelectEnum
                        @bind-Value="@(Dto.Priority)"
                        ValidationFor="(() => Dto.Priority)"
                        Id="priority"
                        Label="Priority" />
                    <InputSelectEnum
                        @bind-Value="@(Dto.Status)"
                        ValidationFor="(() => Dto.Status)"
                        Id="status"
                        Label="Status" />
                    <InputDateField
                        @bind-Value="@(Dto.Deadline)"
                        Label="Deadline"
                        Id="deadline"
                        ValidationFor="(() => Dto.Deadline)" />
                </div>
            </div>
        </EditForm>
        <div class="blazor-modal-footer">
            <button class="btn btn-primary" @onclick="save">Save task</button>
            <button class="btn btn-danger" @onclick="cancel">Cancel</button>
        </div>
    </div>
</div>
